*{
    padding: 0; 
    margin: 0; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    display: flex;
    align-items: center;
}
.background{
    background: linear-gradient(
        114deg, 
        rgba(114, 514, 191, 0.81), 
        rgba(11, 45, 14, 1)
    );
    height: 100%; 

}

@keyframes flyIn {
    from {
        top: 0;
        left: 1919px;
    }
    to {
        top: 0; 
        left: 0; 
    }
}
.title{
    justify-items: center;
    padding: 20px; 
    color: #11b5fe; 
    animation: flyIn 1s; 

}
.members{
    justify-items: center;
    width: 100%; 
    padding: 20px; 
}
.card{
    justify-content: center;
    width: 50%; 
    border-radius: 10px; 
    margin: 1%; 
    padding: 10px;
    color: rgba(114, 514, 191, 1)
}
@keyframes shadow{
    from {
        box-shadow: 0px 0px 0px 0px rgb(19, 19, 81);
    }
    to{
        box-shadow: 10px 10px 30px 15px rgb(19, 19, 81);
    }
    to{
        box-shadow: 3px 3px 15px 5px rgb(19, 19, 81);
    }
}
@keyframes ReverseShadow{
    
    from{
        box-shadow: 3px 3px 15px 5px rgb(19, 19, 81);
    }
    to{
        box-shadow: 10px 10px 30px 15px rgb(19, 19, 81);
    }
    
    to {
        box-shadow: 0px 0px 0px 0px rgb(19, 19, 81);
    }
}
.card:hover{
    animation: shadow 0.5s; 
    box-shadow: 3px 3px 15px 5px rgb(19, 19, 81); 
}
.card:after{
    animation: ReverseShadow 0.5s; 
}
.parties{
    padding: 10px; 
    height: auto;
}
.partiesBlock{
    border-color: black;
    border-radius: 5px; 
    border-width: 10px;
    padding: 5px; 
    justify-items: center; 
    align-self: center;
    color: white; 
    font-size: 30px;
}
.partiesText{
    display: flex;
    margin-left: 10px; 
    font-size: 20px; 
}